In [28]:
import statsapi as mlb
import pandas as pd

In [10]:
endpoints = mlb.ENDPOINTS

In [41]:
games = mlb.schedule(start_date='2016-04-03',end_date='2019-09-29',sportId='1')

In [45]:
games2 = mlb.schedule(start_date='2012-03-31',end_date='2015-10-01',sportId='1')

In [46]:
games3 = mlb.schedule(start_date='2009-04-01',end_date='2011-10-01',sportId='1')

In [50]:
games.extend(games2)

In [51]:
games.extend(games3)

In [110]:
df_all = pd.DataFrame(games)

In [112]:
df_all.columns

Index(['game_id', 'game_datetime', 'game_date', 'game_type', 'status',
       'away_name', 'home_name', 'away_id', 'home_id', 'doubleheader',
       'game_num', 'home_probable_pitcher', 'away_probable_pitcher',
       'home_pitcher_note', 'away_pitcher_note', 'away_score', 'home_score',
       'current_inning', 'inning_state', 'winning_team', 'losing_team',
       'winning_pitcher', 'losing_pitcher', 'save_pitcher', 'summary'],
      dtype='object')

In [63]:
df = df[df['game_type']=='R']

In [66]:
df = df[['game_id','game_datetime','game_date','status','away_id','home_id']]

In [75]:
df['game_datetime'] = df['game_datetime'].map(lambda x: x.replace('T',' ').strip('Z'))

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7390 entries, 0 to 8711
Data columns (total 6 columns):
game_id          7390 non-null int64
game_datetime    7390 non-null object
game_date        7390 non-null object
status           7390 non-null object
away_id          7390 non-null int64
home_id          7390 non-null int64
dtypes: int64(3), object(3)
memory usage: 404.1+ KB

In [91]:
df[df['game_id']==446915d]

    game_id        game_datetime   game_date status  away_id  home_id
63   446916  2016-04-09 02:15:00  2016-04-08  Final      119      137

In [84]:
import query_helper

In [87]:
df['game_id'].duplicated().value_counts()

False    7305
True       85
Name: game_id, dtype: int64

In [107]:
duplicate_games = df[df['game_id'].duplicated(keep=False)==True]['game_id']

In [109]:
df.drop(duplicate_games.index, inplace=True)

      game_id        game_datetime   game_date status  away_id  home_id
0      446877  2016-04-03 17:05:00  2016-04-03  Final      138      134
2      446911  2016-04-03 20:05:00  2016-04-03  Final      141      139
3      446873  2016-04-04 00:37:00  2016-04-03  Final      121      118
5      446875  2016-04-04 18:10:00  2016-04-04  Final      137      158
6      446872  2016-04-04 19:05:00  2016-04-04  Final      142      110
...       ...                  ...         ...    ...      ...      ...
8707   246609  2009-10-04 20:05:00  2009-10-04  Final      108      133
8708   246620  2009-10-04 20:05:00  2009-10-04  Final      137      135
8709   246613  2009-10-04 20:10:00  2009-10-04  Final      115      119
8710   246621  2009-10-04 20:10:00  2009-10-04  Final      140      136
8711   272749  2009-10-06 21:07:00  2009-10-06  Final      116      142

[7220 rows x 6 columns]

In [97]:
for x in list(duplicate_games):
    if df['game'] == x

SyntaxError: keyword can't be an expression (<ipython-input-97-1dfe4018a911>, line 1)