In [15]:
import charlie_functions
import config
import mysql.connector
import pandas as pd

In [32]:
game_list = charlie_functions.get_games(2009,2019)

[{'away_id': 227,
  'away_name': 'Boston College Eagles',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 1,
  'current_inning': 7,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257211,
  'game_num': 1,
  'game_type': 'E',
  'home_id': 111,
  'home_name': 'Boston Red Sox',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 7,
  'inning_state': 'Middle',
  'losing_pitcher': 'Kyle Prohovich',
  'losing_team': 'Boston College Eagles',
  'save_pitcher': None,
  'status': 'Final',
  'summary': '2009-02-25 - Boston College Eagles (1) @ Boston Red Sox (7) (Final)',
  'winning_pitcher': 'Junichi Tazawa',
  'winning_team': 'Boston Red Sox'},
 {'away_id': 144,
  'away_name': 'Atlanta Braves',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 4,
  'current_inning': 9,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257210,
  'game_num': 1,
  'game_type': 'S',
  'home_id': 116,
  'home_name': 'Detroit Tigers',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 5,
  'inning_state': 'Top',
  'losing_pitcher': 'Juan Pablo Perez',
  'losing_team': 'Atlanta Braves',
  'save_pitcher': 'Kyle Bloom',
  'status': 'Final',
  'summary': '2009-02-25 - Atlanta Braves (4) @ Detroit Tigers (5) (Final)',
  'winning_pitcher': 'Fu-Te Ni',
  'winning_team': 'Detroit Tigers'},
 {'away_id': 113,
  'away_name': 'Cincinnati Reds',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 7,
  'current_inning': 9,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257214,
  'game_num': 1,
  'game_type': 'S',
  'home_id': 139,
  'home_name': 'Tampa Bay Rays',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 0,
  'inning_state': 'Bottom',
  'losing_pitcher': 'Randy Choate',
  'losing_team': 'Tampa Bay Rays',
  'save_pitcher': None,
  'status': 'Final',
  'summary': '2009-02-25 - Cincinnati Reds (7) @ Tampa Bay Rays (0) (Final)',
  'winning_pitcher': 'Johnny Cueto',
  'winning_team': 'Cincinnati Reds'},
 {'away_id': 146,
  'away_name': 'Florida Marlins',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 5,
  'current_inning': 10,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257215,
  'game_num': 1,
  'game_type': 'S',
  'home_id': 138,
  'home_name': 'St. Louis Cardinals',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 5,
  'inning_state': 'End',
  'status': 'Final: Tied',
  'summary': '2009-02-25 - Florida Marlins @ St. Louis Cardinals (Final: Tied)'}]

In [33]:
game_list[:3]

[{'away_id': 227,
  'away_name': 'Boston College Eagles',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 1,
  'current_inning': 7,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257211,
  'game_num': 1,
  'game_type': 'E',
  'home_id': 111,
  'home_name': 'Boston Red Sox',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 7,
  'inning_state': 'Middle',
  'losing_pitcher': 'Kyle Prohovich',
  'losing_team': 'Boston College Eagles',
  'save_pitcher': None,
  'status': 'Final',
  'summary': '2009-02-25 - Boston College Eagles (1) @ Boston Red Sox (7) (Final)',
  'winning_pitcher': 'Junichi Tazawa',
  'winning_team': 'Boston Red Sox'},
 {'away_id': 144,
  'away_name': 'Atlanta Braves',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 4,
  'current_inning': 9,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257210,
  'game_num': 1,
  'game_type': 'S',
  'home_id': 116,
  'home_name': 'Detroit Tigers',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 5,
  'inning_state': 'Top',
  'losing_pitcher': 'Juan Pablo Perez',
  'losing_team': 'Atlanta Braves',
  'save_pitcher': 'Kyle Bloom',
  'status': 'Final',
  'summary': '2009-02-25 - Atlanta Braves (4) @ Detroit Tigers (5) (Final)',
  'winning_pitcher': 'Fu-Te Ni',
  'winning_team': 'Detroit Tigers'},
 {'away_id': 113,
  'away_name': 'Cincinnati Reds',
  'away_pitcher_note': '',
  'away_probable_pitcher': '',
  'away_score': 7,
  'current_inning': 9,
  'doubleheader': 'N',
  'game_date': '2009-02-25',
  'game_datetime': '2009-02-25T18:05:00Z',
  'game_id': 257214,
  'game_num': 1,
  'game_type': 'S',
  'home_id': 139,
  'home_name': 'Tampa Bay Rays',
  'home_pitcher_note': '',
  'home_probable_pitcher': '',
  'home_score': 0,
  'inning_state': 'Bottom',
  'losing_pitcher': 'Randy Choate',
  'losing_team': 'Tampa Bay Rays',
  'save_pitcher': None,
  'status': 'Final',
  'summary': '2009-02-25 - Cincinnati Reds (7) @ Tampa Bay Rays (0) (Final)',
  'winning_pitcher': 'Johnny Cueto',
  'winning_team': 'Cincinnati Reds'}]

In [34]:
def parse_game(game):
    game_parsed = {'gameid' : game['game_id'],
                   'game_end_datetime' : game['game_datetime'],
                   'game_date' : game['game_date'],
                   'home_id' : game['home_id'],
                   'away_id' : game['away_id'],
                   'status' : game['status']
    }
    
    return game_parsed

In [12]:
regular_season_games = []
for item in game_list:
    if item['game_type'] != 'R':
        pass
    else:
        regular_season_games.append(parse_game(item))

In [13]:
len(regular_season_games)

27148

In [36]:
count_r =0
count_else = 0
for item in game_list:
    if item['game_type'] == 'R':
        count_r += 1
    else:
        count_else += 1
count_r,count_else

(27148, 6104)

In [24]:
162*15*10

24300

In [16]:
df = pd.DataFrame(regular_season_games)

In [17]:
df.head()

   away_id   game_date     game_end_datetime  gameid  home_id     status
0      144  2009-04-05  2009-04-06T00:00:00Z  244193      143      Final
1      121  2009-04-06  2009-04-06T17:10:00Z  244201      113      Final
2      114  2009-04-06  2009-04-06T18:05:00Z  244195      140      Final
3      118  2009-04-06  2009-04-06T18:05:00Z  244198      145  Postponed
4      139  2009-04-06  2009-04-06T18:05:00Z  244205      111  Postponed

In [20]:
df[['gameid','game_end_datetime','game_date','status','away_id','home_id']]
df['game_end_datetime'] = df['game_end_datetime'].map(lambda x: x.replace('T',' ').strip('Z'))
duplicate_games = df[df['gameid'].duplicated(keep=False)==True]['gameid']
df.drop(duplicate_games.index, inplace=True)

In [46]:
df = df[['gameid','game_end_datetime','game_date','status','home_id','away_id']]

In [47]:
df.head()

   gameid    game_end_datetime   game_date status  home_id  away_id
0  244193  2009-04-06 00:00:00  2009-04-05  Final      143      144
1  244201  2009-04-06 17:10:00  2009-04-06  Final      113      121
2  244195  2009-04-06 18:05:00  2009-04-06  Final      140      114
5  244196  2009-04-06 19:40:00  2009-04-06  Final      109      115
6  244200  2009-04-06 20:05:00  2009-04-06  Final      110      147

In [48]:
import mysql.connector as mysql

mydb = mysql.connect(
  host=config.host,
  user=config.admin,
  passwd=config.passwd,
  database='MLB_Stats'
)

mycursor = mydb.cursor()

AttributeError: module 'config' has no attribute 'admin'